* {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: row;
}
div.flex-container {
    justify-content: center;
}
.bloc {
    background-color: #f1f1f1;
    margin: 30px;
    padding: 100px;
}
header div {
    margin: auto 20px auto 20px;
}
a {
    text-decoration: none;
    color: black;
}
#logo {
    height: 30px;
    width: 30px;
    margin: auto;
}